In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('TMDB_all_movies.csv', engine='python')

df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path
0,2,Ariel,7.1,330.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,suomi,"Tomi Salmela, Jaakko Talaskivi, Hannu Kivisalo...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Aki Kaurismäki,NaN,7.4,8728.0,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,3,Shadows in Paradise,7.3,369.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,"suomi, English, svenska","Kati Outinen, Ulla Kuosmanen, Jaakko Talaskivi...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Mika Kaurismäki,NaN,7.5,7477.0,/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,5,Four Rooms,5.8,2623.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,English,"Quentin Tarantino, Jennifer Beals, Antonio Ban...","Alexandre Rockwell, Quentin Tarantino, Allison...","Rodrigo García, Guillermo Navarro, Phil Parmet...","Alexandre Rockwell, Quentin Tarantino, Allison...","Alexandre Rockwell, Quentin Tarantino, Lawrenc...",Combustible Edison,6.7,112452.0,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,6,Judgment Night,6.5,331.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,English,"Christine Harnos, Lauren Robinson, Deirdre Kel...",Stephen Hopkins,Peter Levy,"Lewis Colick, Jere Cunningham","Lloyd Segan, Gene Levy, Marilyn Vance",Alan Silvestri,6.6,19258.0,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,8,Life in Loops (A Megacities RMX),7.5,27.0,Released,2006-01-01,0.0,80.0,42000.0,tt0825671,...,"English, हिन्दी, 日本語, Pусский, Español",NaN,Timo Novotny,Wolfgang Thaler,"Michael Glawogger, Timo Novotny","Ulrich Gehmacher, Timo Novotny",NaN,8.2,284.0,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg

In [2]:
df.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'budget', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'cast', 'director', 'director_of_photography', 'writers', 'producers',
       'music_composer', 'imdb_rating', 'imdb_votes', 'poster_path'],
      dtype='object')

In [3]:
df['popularity']

0          28.459
1          16.287
2          18.079
3          16.014
4           3.203
            ...
1007128     0.000
1007129     0.000
1007130     0.000
1007131       NaN
1007132       NaN
Name: popularity, Length: 1007133, dtype: float64

In [7]:
# recommendation will be based on these features only
df = df.loc[:,['id','title', 'overview', 'popularity', 'tagline', 'genres','cast','director']]

In [9]:
df.head()

,id,title,overview,popularity,tagline,genres,cast,director
0,2,Ariel,After the coal mine he works at closes and his...,28.459,NaN,"Comedy, Drama, Romance, Crime","Tomi Salmela, Jaakko Talaskivi, Hannu Kivisalo...",Aki Kaurismäki
1,3,Shadows in Paradise,"Nikander, a rubbish collector and would-be ent...",16.287,NaN,"Comedy, Drama, Romance","Kati Outinen, Ulla Kuosmanen, Jaakko Talaskivi...",Aki Kaurismäki
2,5,Four Rooms,It's Ted the Bellhop's first night on the job....,18.079,Twelve outrageous guests. Four scandalous requ...,Comedy,"Quentin Tarantino, Jennifer Beals, Antonio Ban...","Alexandre Rockwell, Quentin Tarantino, Allison..."
3,6,Judgment Night,"Four young friends, while taking a shortcut en...",16.014,Don't move. Don't whisper. Don't even breathe.,"Action, Crime, Thriller","Christine Harnos, Lauren Robinson, Deirdre Kel...",Stephen Hopkins
4,8,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,3.203,A Megacities remix.,Documentary,NaN,Timo Novotny

In [11]:
df.shape

(1007133, 8)

In [13]:
df.isna().sum()

id                 0
title             11
overview      177061
popularity         2
tagline       857919
genres        293199
cast          335202
director      182034
dtype: int64

In [15]:
df.dropna(inplace=True)

In [17]:
df.isna().sum()

id            0
title         0
overview      0
popularity    0
tagline       0
genres        0
cast          0
director      0
dtype: int64

In [19]:
df.shape

(114368, 8)

In [21]:
df.duplicated().sum()

0

In [23]:
df = df.drop('popularity', axis=1)

In [25]:
df.head()

,id,title,overview,tagline,genres,cast,director
2,5,Four Rooms,It's Ted the Bellhop's first night on the job....,Twelve outrageous guests. Four scandalous requ...,Comedy,"Quentin Tarantino, Jennifer Beals, Antonio Ban...","Alexandre Rockwell, Quentin Tarantino, Allison..."
3,6,Judgment Night,"Four young friends, while taking a shortcut en...",Don't move. Don't whisper. Don't even breathe.,"Action, Crime, Thriller","Christine Harnos, Lauren Robinson, Deirdre Kel...",Stephen Hopkins
6,11,Star Wars,Princess Leia is captured and held hostage by ...,"A long time ago in a galaxy far, far away...","Adventure, Action, Science Fiction","Peter Cushing, Jack Purvis, Eddie Byrne, Joe J...",George Lucas
7,12,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",There are 3.7 trillion fish in the ocean. They...,"Animation, Family","Kali Whitehurst, Nicole Miller, Bruce Spence, ...",Andrew Stanton
8,13,Forrest Gump,A man with a low IQ has accomplished great thi...,The world will never be the same once you've s...,"Comedy, Drama, Romance","George Kelly, Richard Nixon, Jason McGuire, Le...",Robert Zemeckis

In [27]:
df.iloc[0]['overview']

"It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another."

In [29]:
# handle overview (converting to list)
df['overview'] = df['overview'].apply(lambda x:x.split())
df.sample(5)

,id,title,overview,tagline,genres,cast,director
8776,14752,Dil Chahta Hai,"[Three, inseparable, childhood, friends, are, ...",Welcome To A Summer Of Their Lives You Will Ne...,"Drama, Romance","Preity Zinta, Aamir Khan, Ahmed Khan, Rajat Ka...",Farhan Akhtar
92454,147741,Hurricane Smith,"[An, oil-field, worker, from, Texas, journeys,...","The man who put the ""Action"" in Jackson now pu...","Action, Drama","Johnny Raaen, Carl Weathers, Ian Williams, Cas...",Colin Budds
68891,101422,The Reincarnation of Peter Proud,"[When, college, professor,, Peter, Proud, begi...",Suppose you knew who you had been in your prev...,"Horror, Mystery","Tony Stephano, Paul Nevens, Sam Laws, Michael ...",J. Lee Thompson
81002,124109,Two Mikes Don't Make a Wright,"[Theatrical, packaging, of, three, comic, shor...","If you only see one movie this year, see these...","Comedy, Documentary","Jim Broadbent, Laurie Metcalf, Rowan Atkinson,...","Mike Leigh, Michael Moore, Dean Parisot"
3644,6646,Treasure Island,"[Enchanted, by, the, idea, of, locating, treas...","PIRATE'S PLUNDER a young cabin boy, a roguish ...","Adventure, Family","Ralph Truman, Reginald Drummond, Patrick Troug...",Byron Haskin

In [31]:
# handle tagline (converting to list)
df['tagline'] = df['tagline'].apply(lambda x:x.split())
df.sample(5)

,id,title,overview,tagline,genres,cast,director
987173,1352694,How to make an animated video (tutorial),"[Victoria, explains, how, to, become, an, anim...",[Tutorial],"Comedy, Drama",Victoria Vincent,Victoria Vincent
104269,173638,When the Whales Came,"[A, pair, of, children, befriend, an, eccentri...","[A, story, so, enchanting, you'll, wish, it, w...",Drama,"Dexter Fletcher, Barbara Ewing, David Suchet, ...",Clive Rees
21876,35077,Three Strangers,"[On, the, eve, of, the, Chinese, New, Year,, t...","[BREATHTAKING, SUSPENSE, -, THRILLS!]","Thriller, Crime","Norman Ainsley, Creighton Hale, Colin Kenny, F...",Jean Negulesco
362311,520799,The Riddle Of The Spider's Web,"[The, Scotts, are, confronted, with, their, pa...","[What, Is, Like, The, Spider's, Web?]","Action, Adventure","April J. Reed, Christyna R. Edmondson, Cody Op...",Scott Wegener
146522,255685,Underground Aces,"[The, escapades, of, a, crew, of, zany, parkin...","[They'll, park, your, car, where, the, sun, ne...",Comedy,"Steve Daron, Fawne Harriman, Rebecca Stanley, ...",Robert Butler

In [33]:
# Handle genres (converting to list)
df['genres'] = df['genres'].apply(lambda x: [genre.strip() for genre in x.split(',')])

In [35]:
df.sample(5)

,id,title,overview,tagline,genres,cast,director
383447,547865,Jalebi,"[An, estranged, couple, happen, to, meet, on, ...","[The, Everlasting, Taste, of, Love]","[Drama, Romance]","Arya Poorti, Rhea Chakraborty, Arjun Kanungo, ...",Pushpdeep Bhardwaj
35003,51660,Twilight on the Trail,"[Hoppy,, California, and, Johnny, come, to, th...","[HOPALONG, HAS, HIS, HANDS, FULL...OF, DOUBLE-...",[Western],"Norman Willis, Brad King, Jimmy Wakely, Jim Co...",Howard Bretherton
603872,842581,Walking In The Dark,"[One, guy, films, himself, walking, in, the, d...","[It's, Just, A, Walk..., In, The, Dark]",[Adventure],Jeremey Davis,Jeremey Davis
770321,1085900,As You Are,"[A, glimpse, into, a, visual, representation, ...","[Where, are, you?, What, are, you?, Why, are, ...",[Documentary],"Sára Trautmann, Adèl Marx, Iolo Williams, Rhys...",Victoria Drave
130082,226140,See No Evil 2,"[A, group, of, friends, pays, a, late-night, v...","[You, will, pay, for, your, sins.]",[Horror],"Cecily Polson, Rachael Taylor, Lee Majdoub, Ly...","Sylvia Soska, Jen Soska"

In [37]:
# Handle cast (converting to list)
df['cast'] = df['cast'].apply(lambda x: [cast.strip() for cast in x.split(',')])
df.sample(5)

,id,title,overview,tagline,genres,cast,director
299025,440777,Female Fight Squad,"[A, former, fighter, reluctantly, returns, to,...","[Revenge, Rules]",[Action],"[Marklen Kennedy, Lena Góra, Michael Kaves, Ne...",Miguel A. Ferrer
993722,1360394,Burn Out,"[In, the, near, future,, John, Smith, takes, a...","[What, if, you, find, out, the, date, of, your...",[Drama],"[Camden Klump, Garrette Bailey]",Clement Sentucq
266137,399256,The Ghoul,"[A, homicide, detective, goes, undercover, as,...","[I, know, its, name]","[Drama, Thriller]","[Geoffrey McGivern, Alice Lowe, Dan Renton Ski...",Gareth Tunley
161049,273248,The Hateful Eight,"[Bounty, hunters, seek, shelter, from, a, ragi...","[No, one, comes, up, here, without, a, damn, g...","[Drama, Mystery, Western]","[Belinda Owino, Quentin Tarantino, Michael Mad...",Quentin Tarantino
1002961,1371495,Viva o Cinema! Uma História da Mostra de São P...,"[The, series, tells, the, story, of, the, São,...","[Through, the, irreverent, gaze, of, filmmaker...",[Documentary],"[Márcio José de Moraes, Gustavo Rosa de Moura,...","Gustavo Rosa de Moura, Marina Person"

In [39]:
# Handle director (converting to list)
df['director'] = df['director'].apply(lambda x: [director.strip() for director in x.split(',')])
df.sample(5)

,id,title,overview,tagline,genres,cast,director
59600,83786,Machete,"[This, 1959, film-noir, take, on, ""Othello,"", ...","[Murder, and, Manhunt, in, the, Caribbean, Jun...",[Drama],"[Lee Van Cleef, Mari Blanchard, Juano Hernánde...",[Kurt Neumann]
629802,880398,Mina,"[An, innocent, girl, has, a, dark,, twisted, s...","[She's, hungry., Very, hungry.]",[Horror],"[Bre Morgan, Jessica Blackmore, David Mackey, ...",[Jose Zambrano Cassella]
625378,874526,Armaan,"[Najma, is, a, destitute, girl, living, with, ...","[THE, FIRST, PAKISTANI, ""PLATINUM, JUBILEE"", F...","[Drama, Romance, Music]","[Nirala, Tarannum, Waheed Murad, Rozina, Bibbo...",[Pervez Malik]
81324,124711,The Spoilers,"[In, 1899, Alaska,, miners, have, to, protect,...","[REX, BEACH'S, IMMORTAL, SAGA, OF, THE, YUKON!]","[Adventure, Western]","[Barbara Britton, Rory Calhoun, Lee Roberts, B...",[Jesse Hibbs]
887517,1238000,Fatal Consequences,"[Patrick,, a, 37, year, old, drug, addict,, le...","[Breaking, promises, will, lead, to, terrible,...","[Drama, Thriller]","[Terry Ware, Justin Wolff, Paulina Reyes Torre...",[Annette Wilson]

In [41]:
# Removing space like that 'Alex Benjamin' 'AlexBenjamin'
def remove_space(anylist):
    return [i.replace(" ", "") for i in anylist]

In [43]:
df['genres'] = df['genres'].apply(remove_space)
df['cast'] = df['cast'].apply(remove_space)
df['director'] = df['director'].apply(remove_space)
df.sample(2)

,id,title,overview,tagline,genres,cast,director
331723,482373,Don't Breathe 2,"[The, Blind, Man, has, been, hiding, out, for,...","[Bad, things, happen, to, bad, people.]","[Thriller, Horror]","[SofijaStojanovic, BrendanSextonIII, StephenLa...",[RodoSayagues]
815544,1148681,Tokyo Joe: The Man Who Brought Down The Chicag...,"[A, documentary, about, an, extraordinary, lif...","[Tokyo, Joe, -, The, Man, Who, Bought, Down, T...",[Documentary],"[TonyMontana, JohnDrummond, StevenEto, ElaineS...",[KenichiOguri]

In [45]:
# Concatinate all
df['concat'] = df['overview'] + df['tagline'] + df['genres'] + df['cast'] +  df['director'] 
df.sample(5)

,id,title,overview,tagline,genres,cast,director,concat
924244,1279797,Richer and Richer,"[Losing, her, lover,, mother,, and, hope, for,...","[Richer, &, Richer]",[Drama],"[MicahChambers, BrandonAmiot, FlynnMcCabe, Bet...",[MarcusCarola],"[Losing, her, lover,, mother,, and, hope, for,..."
607801,848278,Jurassic Hunt,"[Female, adventurer, Parker, joins, a, crew, o...","[This, time, it's, mankind, that's, going, ext...","[Action, ScienceFiction, Thriller, Horror]","[HeathC.Heine, AntuoneTorbert, JostonTheney, T...",[HankBraxtan],"[Female, adventurer, Parker, joins, a, crew, o..."
602437,840755,Language Matters with Bob Holman,"[There, are, over, 6,000, languages, in, the, ...","[What, does, it, take, to, save, a, language?]","[History, Documentary]","[PuakeaNogelmeier, LarryKimura, WilliamStanley...",[DavidGrubin],"[There, are, over, 6,000, languages, in, the, ..."
840305,1180183,Meeting (Sangam),"[Story, of, an, obsessive, fan, who, is, quara...","[Story, of, an, obsessive, fan, who, is, quara...",[Romance],"[ShaanShahid, Resham, TamannaBegum, SanaFakhar]",[SyedNoor],"[Story, of, an, obsessive, fan, who, is, quara..."
72976,108917,Vito,"[In, the, aftermath, of, Stonewall,, a, newly,...","[Every, revolution, needs, a, voice]",[Documentary],"[RobEpstein, TommiAvicolliMecca, VitoRusso, Li...",[JeffreySchwarz],"[In, the, aftermath, of, Stonewall,, a, newly,..."

In [47]:
df.iloc[20]['concat']

['After',
 'Homer',
 'accidentally',
 'pollutes',
 'the',
 "town's",
 'water',
 'supply,',
 'Springfield',
 'is',
 'encased',
 'in',
 'a',
 'gigantic',
 'dome',
 'by',
 'the',
 'EPA',
 'and',
 'the',
 'Simpsons',
 'are',
 'declared',
 'fugitives.',
 'In',
 'a',
 'time',
 'when',
 'computer',
 'animation',
 'gives',
 'us',
 'worlds',
 'of',
 'unsurpassed',
 'beauty,',
 'one',
 'film',
 'dares',
 'to',
 'be',
 'ugly.',
 'Animation',
 'Comedy',
 'Family',
 'MarciaWallace',
 'BillieJoeArmstrong',
 'YeardleySmith',
 'TomHanks',
 'TréCool',
 'NancyCartwright',
 'KarlWiedergott',
 'JulieKavner',
 'MikeDirnt',
 'HarryShearer',
 'PhilRosenthal',
 'RussiTaylor',
 'MaggieRoswell',
 'HankAzaria',
 'JoeMantegna',
 'DanCastellaneta',
 'PamelaHayden',
 'AlbertBrooks',
 'TressMacNeille',
 'DavidSilverman']

In [49]:
df_new = df[['id', 'title', 'concat']].copy()

In [51]:
df_new.head()

   id           title                                             concat
2   5      Four Rooms  [It's, Ted, the, Bellhop's, first, night, on, ...
3   6  Judgment Night  [Four, young, friends,, while, taking, a, shor...
6  11       Star Wars  [Princess, Leia, is, captured, and, held, host...
7  12    Finding Nemo  [Nemo,, an, adventurous, young, clownfish,, is...
8  13    Forrest Gump  [A, man, with, a, low, IQ, has, accomplished, ...

In [53]:
# Converting list to str
df_new['concat'] = df_new['concat'].apply(lambda x: " ".join(x))
df_new.head()

   id           title                                             concat
2   5      Four Rooms  It's Ted the Bellhop's first night on the job....
3   6  Judgment Night  Four young friends, while taking a shortcut en...
6  11       Star Wars  Princess Leia is captured and held hostage by ...
7  12    Finding Nemo  Nemo, an adventurous young clownfish, is unexp...
8  13    Forrest Gump  A man with a low IQ has accomplished great thi...

In [55]:
df_new['concat'] = df_new['concat'].apply(lambda x: x.lower())  
df_new.iloc[10]['concat']

"in a futuristic city sharply divided between the rich and the poor, the son of the city's mastermind meets a prophet who predicts the coming of a savior to mediate their differences. there can be no understanding between the hands and the brain unless the heart acts as mediator. drama sciencefiction alfredabel rudolfklein-rogge henriettasiodmak fritzrasp curtsiodmak margaretelanner roselichtenstein greteberger olafstorm gustavfröhlich gottfriedhuppertz heinrichgotho brigittehelm theodorloos heinrichgeorge arthurreinhardt rolfvongoth heleneweigel helenvonmünchofen georgjohn hannsleoreich ollyboeheim erwinbiswanger fritzalberti fritzlang"

In [57]:
# PorterStemmer is a specific stemming algorithm provided by NLTK, which reduces words to their base or root form (e.g., "running" to "run").
import nltk
from nltk.stem import PorterStemmer

In [58]:
ps = PorterStemmer()

In [59]:
def stems(text):
    T = []
    
    for i in text.split():
        T.append(ps.stem(i))
    
    return " ".join(T)

In [60]:
df_new ['concat'] = df_new ['concat'].apply(stems)

In [61]:
df_new.iloc[10]['concat']

"in a futurist citi sharpli divid between the rich and the poor, the son of the city' mastermind meet a prophet who predict the come of a savior to mediat their differences. there can be no understand between the hand and the brain unless the heart act as mediator. drama sciencefict alfredabel rudolfklein-rogg henriettasiodmak fritzrasp curtsiodmak margaretelann roselichtenstein greteberg olafstorm gustavfröhlich gottfriedhuppertz heinrichgotho brigittehelm theodorloo heinrichgeorg arthurreinhardt rolfvongoth heleneweigel helenvonmünchofen georgjohn hannsleoreich ollyboeheim erwinbiswang fritzalberti fritzlang"

In [67]:
df_new.shape

(114368, 3)

In [69]:
df_new.isna().sum()

id        0
title     0
concat    0
dtype: int64

In [76]:
df_new.to_csv('new_movies.csv', index=False)